@import "reset";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
$background-color:#FFFFFF;


*,*::before *::after{
    box-sizing: border-box;
}


body{
    background-image: linear-gradient(174deg, #FFD370 2%, #FFD370 46%, #FFFFFF 46%, #FFFFFF 100%, #E8E8E8 100%);
    background-repeat: no-repeat;
    background-size: auto 840px;
    font-family: "Impact";
}

.container{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    }

h1{
    font-size: 48px;
    line-height: 82px;
    text-align: center;
    font-family: "Impact";
    color: #003060;
    font-weight: bold;
    @media(max-width:1190px) {
        font-style: 32px;
        line-height: 56px;
        margin: 28px 0 14px 0;
    }

}

.newitem{
    display: flex;
    justify-content: space-between;
    background-color: $background-color;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: 10px;
    margin-bottom: 8px;
    
    .txt{
        width:85%;
        border:none;
        color: #9F9A91;
        letter-spacing: 0.7px;
        line-height: 24px ;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-left: 5px;
        @media(max-width:1190px){
            font-size: 20px;
        }
    }

    .save{
        width: 40px;
        margin: 4px;
        border-radius: 3px;
        background-color:#3C3C3C;
        font-size: 32px;
        color: #FFFFFF;
        letter-spacing: 1.23px;
        text-align: center;
        border: none;
        &:active{
                background-color: lighten(#3C3C3C,30%);
        }
        @media(max-width:1190px) {
            width: 30px;
            font-size: 30px;
            border-radius: 3px;
            text-align: center;
        }
    }
    @media(max-width:1190px) {
        margin: 0 12px 8px 12px;
    }
}

.subtitle{
    color: #003060;
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}

.content{
    background-color: $background-color;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    @media(max-width:1190px) {
        margin:0 12px 0 12px;
    }
    
    .filter{
        display: flex;
        justify-content: space-around;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        color: #9F9A91;
        letter-spacing: 0.7px;
        line-height: 20px;
        input{
            padding:16px 50px;
            background-color:$background-color;
            border-bottom:2px solid #FFFFFF;
            cursor: pointer;
            @media(max-width: 1190px){
                padding: 16px 30px;
                font-size: 20px;
            }
        }
        :hover{
            border-bottom: 2px solid #0000;
            color: #333333;
            font-weight: bold;
        }
        li{
            &:hover{
                border:none;
                background-color: none;
                border-bottom: 2px solid black;
            }
        }
    }
}


.list {
    margin-top: 24.5px;
    margin-left: 24px;
    li {
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 24px;
        padding-right: 16px;
        .undo_check {
            border: 1px solid #333333;
            border-radius: 5px;
            min-width: 20px;
            min-height: 20px;
            background-color: $background-color;
        }
        .done_check {
            width: 8px;
            height: 16px;
            border-color: #c49019;
            border-style: solid;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            margin-left: 7px;
            margin-right: 5px;
        }
        p {
            line-height: 24px;
            border-bottom: 1px solid #EFEFEF;
            padding-bottom: 16px;
            width: 392px;
            margin-top: 16px;
            margin-left: 16px;
        }
        .done {
            color: rgba(51, 51, 51, 0.30);
            text-decoration: line-through;
        }
        .delete {
            display: none;
            max-width: 16px;
            max-height: 16px;
            cursor: pointer;
        }
        
    }
   
}


.footer{
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
    padding-bottom: 32px;
    font-size: 14px;
    color: #868686;
    letter-spacing: 0.7px;
    line-height: 20px;
    input{
        color: #868686;
        border: none;
        background-color: $background-color;
        cursor: pointer;
    }
    input:hover{
        color: rgb(219, 177, 98);
    }
}

.all, .undone, .done{
border: none;
}

.cancel{
    border: none;
    background-color: white;
    &:hover{
        transform:scale(1.2,1.2);
    }
    @media (max-width:1190px) {
        font-size: 20px;
        border:none;
        background-color: none;
    }
}

.clearAll{
    @media (max-width:1190px) {
        background-color: none;
        border: none;
        font-size: 18px;
    }
}